{% extends "index.html" %}
{% load static %}


<html>
        
    {% block content %}
        <head>
            
            <title>About Us</title>

        </head>

        <body>
            <div>
                 <h1 style="font-family: quicksand;">About Us</h1>
            </div>

            <div>
                <p style="font-family: quicksand;">
                    DART was created by three high school girls, who built the website totally from scratch as a final project in a summer program called Girls Who Code.
                    We created the website to help people find interesting and new things to do around the Bay Area, hoping that people would enjoy having small adventures in their daily life.
                    Enjoy!

                </p>
            </div>

        </body>
    {% endblock content %}
</html>