{% extends "index.html" %}
{% load static %}


<html>
        
    {% block content %}
        <head>
            
            <title>Find An Adventure</title>

            <!-- gets header images -->
            <link rel="stylesheet" type="text/css" href="/static/Type.png" />
            <link rel="stylesheet" type="text/css" href="/static/Surprise.png" />
            <link rel="stylesheet" type="text/css" href="/static/location/Location.png" />
            <link rel="stylesheet" type="text/css" href="/static/time/Time.png" />
            <link rel="stylesheet" type="text/css" href="/static/transportation/Transportation.png" />
            <link rel="stylesheet" type="text/css" href="/static/budget/Budget.png" />

            <!-- gets css files for headers -->
            <link rel="stylesheet" type="text/css" href="/static/css/align.css" />

            <!-- gets css files for bar buttons -->
            <link rel="stylesheet" type="text/css" href="/static/css/bar_bttns.css" />
           
            

        </head>

        <body>

            <div>
                <h1 style="font-family: quicksand;">Find An Adventure!</h1>
            </div>

            <div>
               
                <img
                    src="/static/Type.png"
                    alt="Type" 
                    height="50" 
                    width="300"
                    class= "center"
                    
                >
            </div>
            
            <div>

                <img
                    src="/static/location/Location.png"
                    alt="Type" 
                    height="50" 
                    width="300"
                    class= "align_left"
                    
                />

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">San Francisco</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">Palo Alto</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">Oakland</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">Fremont</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">Walnut Creek</a>
                    
                </div>

                <img
                    src="/static/time/Time.png"
                    alt="Type" 
                    height="50" 
                    width="300"
                    class= "align_right"
                
                />

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">2 Hourse</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">4 Hours</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">6 Hours</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">6+ Hours</a>
                    
                </div>

            </div>
            
            <div>
        
                <img
                    src="/static/budget/Budget.png"
                    alt="Type" 
                    height="50" 
                    width="300"
                    class= "align_left"
                    
                />
                
                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">Free</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">$5 - $20</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">$20 - $50</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">$50+</a>
                    
                </div>

                <img
                    src="/static/transportation/Transportation.png"
                    alt="Type" 
                    height="50" 
                    width="300"
                    class= "align_right"
                    
                />

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">Walking</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">Car</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">Ferry</a>
                    
                </div>

                <div class="bar_buttons">

                    <a class="btn bar_btn_custom" class="align_left">Public Transportation</a>
                    
                </div>

            </div>

            

            <div>
                
                <img
                    src="/static/Surprise.png"
                    alt="Type" 
                    height="50" 
                    width="300"
                    class= "center"
                    
                >
            </div>

        </body>

    {% endblock content %}

</html>

