{% extends "index.html" %}
{% load static %}


<html>
        
    {% block content %}
        <head>
            
            <title>Find An Adventure</title>

            <!-- gets header images -->
            <link rel="stylesheet" type="text/css" href="/static/Type.png" />
            <link rel="stylesheet" type="text/css" href="/static/Surprise.png" />
            <link rel="stylesheet" type="text/css" href="/static/location/Location.png" />
            <link rel="stylesheet" type="text/css" href="/static/time/Time.png" />
            <link rel="stylesheet" type="text/css" href="/static/transportation/Transportation.png" />
            <link rel="stylesheet" type="text/css" href="/static/budget/Budget.png" />

            <!-- gets css files for headers -->
            <link rel="stylesheet" type="text/css" href="/static/css/align.css" />
           
            

        </head>

        <body>

            <div>
                <h1 style="font-family: quicksand;">Find An Adventure!</h1>
            </div>

            <div>
               
                <img
                    src="/static/Type.png"
                    alt="Type" 
                    height="50" 
                    width="300"
                    class= "center"
                    
                >
            </div>
            
            <div>

                <img
                    src="/static/location/Location.png"
                    alt="Type" 
                    height="50" 
                    width="300"
                    class= "align_left"
                    
                /><img
                    src="/static/time/Time.png"
                    alt="Type" 
                    height="50" 
                    width="300"
                    class= "align_right"
                
                />
            </div>
            
            <div>
        
                <img
                    src="/static/budget/Budget.png"
                    alt="Type" 
                    height="50" 
                    width="300"
                    class= "align_left"
                    
                /> <img
                    src="/static/transportation/Transportation.png"
                    alt="Type" 
                    height="50" 
                    width="300"
                    class= "align_right"
                    
                />
            </div>

            

            <div>
                
                <img
                    src="/static/Surprise.png"
                    alt="Type" 
                    height="50" 
                    width="300"
                    class= "center"
                    
                >
            </div>

        </body>

    {% endblock content %}

</html>

