{% extends "index.html" %}
{% load static %}
<!-- AIzaSyBatSFsLO7FcTGtpxjP7FcAwKaevJb1N_k -->
<html>
    {% block content %}
    <body>

        <h1 style="font-family: quicksand;">Map from Google</h1>
        <div id="googleMap" style="width:100%;height:400px;"></div>
        
        <head>
            <link rel="stylesheet" type="text/css" href="/static/css/get_started_bttn.css" />   
            <link rel="stylesheet" type="text/css" href="/static/css/find_route_bttn.css" />   
        </head>

        <script>
            document.addEventListener("DOMContentLoaded", load);

            var map
            var user_latitude 
            var user_longitude 
            var pos_end_dest
           
            var request_object = {
                address: 'Los Angeles',
            }
            

            function load() {
                getLocation()
            }

            function getLocation() {                                        //if: successful, calls getPosition, else: gives alert//
                if (navigator.geolocation) { // Supported
                    navigator.geolocation.getCurrentPosition(getPosition) 
                } else { // Not supported
                    alert("Oops! This browser does not support HTML Geolocation.");
                }
            }

            function getPosition(position) {                                        //gets position of user from browser //
                user_latitude = position.coords.latitude;
                user_longitude = position.coords.longitude;

                const pos = {
                    lat: user_latitude,
                    lng: user_longitude,
                }

                map.setCenter(pos);
                console.log(pos)

                marker();
            }


            function marker() {
                var marker = new google.maps.Marker({                                       //makes marker//
                    position: {
                    lat: user_latitude,
                    lng: user_longitude,
                },
                    title: request_object["address"],
                });

                marker.setMap(map);                                                         //puts marker on map//
                console.log("set marker")

            }

            function myMap() {
                
                var mapProp = {                                                             //sets properties of map//
                    center: new google.maps.LatLng(user_latitude, user_longitude),
                    zoom: 14,
                };

                map = new google.maps.Map(document.getElementById("googleMap"), mapProp);   //makes map//
                
            }

            function geocide() {
                const geocoder = new google.maps.Geocoder()
                

                pos_end_dest = geocoder.geocode(request_object)                          //gets coords of destination//
               
                // geo_result = geocoder.result(request_object)
                console.log(pos_end_dest)
                console.log("b")

            }


            function calcRoute() {         
                var directionsService = new google.maps.DirectionsService();
                var directionsDisplay = new google.maps.DirectionsRenderer();            //calculates route??//

                var start = {
                    lat: user_latitude,
                    lng: user_longitude,
                }
                var end = pos_end_dest;

                var request = {                                                         // route calculating options//
                    origin: start,
                    destination: end,
                    travelMode: 'TRANSIT',  //can replace transit with var//
                    unitSystem: google.maps.UnitSystem.IMPERIAL,

                };

                geocide();
                
                console.log("calcroute called")

                directionsService.route(request, function(result, status) {
                    if (status == 'OK') {
                    console.log("directions");
                    directionsDisplay.setMap(map);
                    directionsDisplay.setDirections(result);                            //displays directions?? //

                    }
                    else {
                        console.log("failed");
                    }
                });
                
            }

        </script>

        <!-- gets info from google -->
        <script 
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBatSFsLO7FcTGtpxjP7FcAwKaevJb1N_k&callback=myMap" 
        type="text/javascript"
        >
        </script>

        <!-- <script 
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBatSFsLO7FcTGtpxjP7FcAwKaevJb1N_k&callback=calcRoute" 
        type="text/javascript"
        >
        </script> -->


        <!-- calculates route when button is pressed -->  
        <div class="btn find_r_container"> 
            <button type="button" onclick="calcRoute()" class="btn find_r_button">Find your route</button>
        </div>
    </body>

    {% endblock content %}
</html>