{% extends "index.html" %}

{% load static %}

<html>
    {% block content %}
    <body>

        <h1 style="font-family: quicksand;">Map</h1>
        <div id="googleMap" style="width:100%;height:400px;"></div>
        
        <head>
            <link rel="stylesheet" type="text/css" href="/static/css/red_bttns.css" /> 
            <link rel="stylesheet" type="text/css" href="/static/css/find_route_bttn.css" /> 
            <script type="text/javascript" src="/static/js/cookies.js"></script>
            <script type="text/javascript" src="/static/js/place_types_arrays.js"></script>
            <link type="text/html" href="/find_adventure.html" /> 
        </head>

        <script>
            document.addEventListener("DOMContentLoaded", load);

            var search_query = "art"                   //do this

            var travel_mode
            var driving = getCookie("driving");
            var walking = getCookie("walking");
            var transit = getCookie("transit");
            var bicycling = getCookie("bicycling");

            var type 
            var outdoor_activity = getCookie("outdoor_activity");
            var indoor_activity = getCookie("indoor_activity");
            var restaurant = getCookie("restaurant");
            var cafe = getCookie("cafe");
            var shopping = getCookie("shopping");
            var museum = getCookie("museum");


            var baylands_nature_preserve_latlng = {
                lat:Number(37.433682),
                lng:Number(-122.099901),
            }
            var mt_sutro_open_space_reserve_latlng = {
                lat:Number(37.759738),
                lng:Number(-122.457835),
            }
            var Marsh_Boardwalk_Coyote_Hills_Regional_Park_latlng = {
                lat:Number(37.557309),
                lng:Number(-122.094886),
            }
            var lake_temesal_latlng = {
                lat:Number(37.846707),
                lng:Number(-122.230808),
            }
            var TheRuthBancroftGardenandNursery_latlng = {
                lat:Number(37.923715),
                lng:Number(-122.036703),
            }
            var the_standford_theatre_latlng = {
                lat:Number(37.445642),
                lng:Number(-122.162677),
            }
            var clockwise_escape_room_latlng = {
                lat:Number(37.781045),
                lng:Number(-122.411550),
            }
            var madeup_theatre_latlng = {
                lat:Number(37.532898),
                lng:Number(-121.959360),
            }
            var redwood_bowmen_archery_club_latlng = {
                lat:Number(37.818835),
                lng:Number(-122.178962),
            }
            var lindsay_art_glass_latlng = {
                lat:Number(38.049198),
                lng:Number(-122.158673),
            }
            var Evvia_Estiatorio_latlng= {
                lat:Number(37.445231),
                lng:Number(-122.163789),
            }
            var little_sheep_mongolian_hotpot_latlng = {
                lat:Number(37.787455),
                lng:Number(-122.410103),
            }
            var bahn_thai_latlng = {
                lat:Number(37.548581),
                lng:Number(-121.986942),
            }
            var Rio_california_latlng = {
                lat:Number(37.805820),
                lng:Number(-122.277356),
            }
            var jacks_urban_eats_latlng = {
                lat:Number(37.928289),
                lng:Number(-122.016888),
            }
            var adas_cafe_latlng = {
                lat:Number(37.422246),
                lng:Number(-122.113175),
            }
            var kittea_cat_cafe_latlng = {
                lat:Number(37.773977),
                lng:Number(-122.422201),
            }
            var frodo_joes_petit_cafe_latlng = {
                lat:Number(37.553264),
                lng:Number(-121.978239),
            }
            var luckyduck_bicycle_cafe_latlng = {
                lat:Number(37.801776),
                lng:Number(-122.268629),
            }
            var bagel_street_cafe_latlng = {
                lat: 37.926202,
                lng: -122.014746,
            }
            var letter_perfect_latlng = {
                lat:Number(37.446888),
                lng:Number(-122.160466),
            }
            var reliquary_latlng = {
                lat:Number(37.776688),
                lng:Number(-122.425435),
            }
            var keiths_collectibles_and_books_latlng= {
                lat:Number(37.576739),
                lng:Number(-121.978547),
            }
            var owl_and_co_bookshop_latlng = {
                lat:Number(37.825419),
                lng:Number(-122.254063),
            }
            var vivi_latlng = {
                lat:Number(37.902360),
                lng:Number(-122.065056),
            }
            var museum_of_american_heritage_lat_lng= {
                lat:Number(37.444531),
                lng:Number(-122.157454),
            }
            var cabel_car_museum_latlng = {
                lat:Number(37.794631),
                lng:Number(-122.411559),
            }
            var niles_silent_film_museum_latlng = {
                lat:Number(37.577096),
                lng:Number(-121.980150),
            }
            var camron_stanford_house_latlng = {
                lat:Number(37.801475),
                lng:Number(-122.262278),
            }
            var lindsay_wildlife_museum_latlng = {
                lat:Number(37.923632),
                lng:Number(-122.075685),
            }

            var destination = lindsay_art_glass_latlng

            var map

            var user_latitude 
            var user_longitude 
            var user_lat_fixed
            var user_lng_fixed

            var end_location
            var end_coords

            function load() {
                setTimeout(getLocation(), 100)
            }

            function getLocation() {                                       
                if (navigator.geolocation) { // Supported
                    navigator.geolocation.getCurrentPosition(getPosition) 
                } else { // Not supported
                    alert("Oops! This browser does not support HTML Geolocation.");
                }
            }

            function getPosition(position) {                                        //gets position of user from browser //
                user_latitude = position.coords.latitude;
                user_longitude = position.coords.longitude;

                const pos = {
                    lat: (user_latitude),
                    lng: (user_longitude),
                };

                //map.setCenter(pos);
                console.log(pos);

                setTimeout( end_pos_marker(), 200);

                user_pos_marker();

                // geocide();

            }


            function user_pos_marker() {

                var marker1 = new google.maps.Marker({                                     
                    position: {
                        lat: user_latitude,
                        lng: user_longitude,
                    }
                },
                );
                marker1.setMap(map); 

            }

            function end_pos_marker() {

                var marker2 = new google.maps.Marker({                                      
                    position: destination,
                    
                });

                marker2.setMap(map);                                                   
                console.log("set destination marker")

            }

            function myMap() {
                
                var mapProp = {                                                          
                    center: destination,                         //new google.maps.LatLng(user_latitude, user_longitude),
                    zoom: 10,
                };

                map = new google.maps.Map(document.getElementById("googleMap"), mapProp);  
                
            }

            // function geocide() {
            //     console.log("geocide called")
            //     var geocoder = new google.maps.Geocoder()

            //     //findplace();

            //     geocoder.geocode(
            //         {
            //             address: destination,
            //         },
            //         function(results, status) {
            //             if (status == 'OK') {

            //                 end_location = results[0].geometry.location;

            //                 const lat = end_location.lat();
            //                 const lng = end_location.lng();

            //                 console.log(lat);
            //                 console.log(lng);

            //                 end_coords = {                             
            //                     lat: lat,
            //                     lng: lng,
            //                 };

            //                 return end_coords;
                            
            //             }
            //             else {
            //                 console.log(status)
            //                 console.log("geocide failed")
            //             }
            //         },
            //     );      

            // }


            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);

                var ca = decodedCookie.split(';');

                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];

                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }

                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }

                    //console.log(c.substring());
                }

                return "";
            }

            // function findplace() {
            //     console.log("findplace called");

            //     user_lat_fixed = user_latitude.toFixed(7)
            //     user_lng_fixed = user_longitude.toFixed(7)

            //     if (type==undefined) {
            //         set_type();
            //     };  

            //     var request = {
            //         query: search_query,
            //         fields: ['name', 'formatted_address', 'type'],
                    
                    
            //     };

            //     var place = new google.maps.places.PlacesService(map);

            //     place.findPlaceFromQuery(
            //         request, 
            //         function(results, status) {

            //             if (status == 'OK') {
                    
            //                 const placelocation = results[0].geometry.location;

            //                 var lat = placelocation.lat();
            //                 var lng = placelocation.lng();

            //                 destination = {
            //                     lat: lat,
            //                     lng: lng,
            //                 };

            //                 createMarker(results[0]);

            //                 console.log("dest: " + destination);

            //                 return destination;
    
            //             }
            //             else {
            //                 console.log("findplace failed")
            //             }
                           
            //         }
            //     )
            // }   

            // function createMarker(place) {
            //     var marker3 = new google.maps.Marker({
            //         map: map,
            //         position: destination,
            //     });

            //     marker3.setMap(map);
            //     console.log("set marker 3")
               
            // }


            // function set_type() {
            //     console.log("set_type called")
            //     if (outdoor_activity=='true') {
            //         //psuedorandom pick a type from a list 
            //         type = pass;
            //     }
            //     else if (indoor_activity=='true') {
            //         type = pass;
            //     }
            //     else if (restaurant=='true') {
            //         type = pass;
            //     }
            //     else if (cafe=='true') {
            //         type = pass;
            //     }
            //     else if (shopping=='true') {
            //         type = pass;
            //     }
            //     else if (museum=='true') {
            //         type = 'museum';
            //     }
            //     else {
            //         console.log("set_type failed")
            //     }

            //     console.log("type is " + type)
                
            // }


            function settravelmode() {
                if (driving=='true') {
                    travel_mode="DRIVING";
                } 
                else if (transit=='true') {
                    travel_mode="TRANSIT";
                } 
                else if (walking=='true') {
                    travel_mode="WALKING";
                } 
                else if (bicycling=='true') {
                    travel_mode="BICYCLING";
                } 
                else {
                    travel_mode="DRIVING";
                }

                console.log("travelmode set")
            }


            function calcRoute() {         
                var directionsService = new google.maps.DirectionsService();
                var directionsDisplay = new google.maps.DirectionsRenderer();        

                //geocide();

                var start = {
                    lat: user_latitude,
                    lng: user_longitude,
                }

                var end = destination;

                settravelmode();

                console.log(end)

                var request = {                                                        
                    origin: start,
                    destination: end,
                    travelMode: travel_mode, 
                    unitSystem: google.maps.UnitSystem.IMPERIAL,

                };
                
                end_pos_marker();

                directionsService.route(request, function(result, status) {
                    if (status == 'OK') {
                        console.log("directions called");
                        directionsDisplay.setMap(map);
                        directionsDisplay.setDirections(result);                           
                    }
                    else {
                        console.log("directions failed");
                        console.log(status)
                    }
                });
                
            }


        </script>

        <!-- gets map info from google -->
        <script 
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBatSFsLO7FcTGtpxjP7FcAwKaevJb1N_k&libraries=places&callback=myMap" 
            type="text/javascript"
            async
        >
        </script>

        <!-- calculates route when button is pressed -->  
        <div class="btn find_r_container"> 
            <button type="button" onclick="calcRoute()" class="btn find_r_button">Find your route</button>
        </div>

    </body>

    {% endblock content %}
</html>