{% extends "index.html" %}
{% load static %}


<html>
        
    {% block content %}
        <head>
            <link rel="stylesheet" type="text/css" href="/static/css/what_is_dart_img.css" />

            <title>Dart</title>

        </head>

        <body>
            <div>
                <h1 style="font-family: quicksand;">Welcome to Dart!</h1>
                <img
                src="/static/What is DART_.png"
                alt="What is DART?" 
                height="1000" 
                width="1000"
                class= "center"
                >
            
                <div class="container-fluid">

                    <a href="/findadventure" class="btn btn-primary custom-btn">Get Started!</a>
                    
                    <!-- <a href="/findadventure" class="button">Get Started!</a> -->
                    
                    <!-- <a href="/findadventure" class="btn btn-info">Get Started!</a> -->
                </div>
               
            </div>
        </body>
    {% endblock content %}
</html>

