{% extends "index.html" %}
{% load static %}


<html>
        
    {% block content %}
        <head>
            <link rel="stylesheet" type="text/css" href="/static/css/what_is_dart_img.css" />

            <title>Dart</title>

        </head>

        <body>
            <div>
                <h1 style="font-family: quicksand;">Welcome to Dart!</h1>
                <img
                src="/static/What is DART_.png"
                alt="What is DART?" 
                height="1000" 
                width="1000"
                class= "center"

                >

                <!-- <style type="text/css" media="screen">

                   
                    
                </style> -->
                

            </div>
        </body>
    {% endblock content %}
</html>

<!-- https://download.canva.com/DADfwj9xdp8/172/0/0001-2638868132.png?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27What%2520is%2520DART%253F.png&response-expires=Mon%2C%2015%20Jul%202019%2021%3A48%3A46%20GMT&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190715T202935Z&X-Amz-SignedHeaders=host&X-Amz-Expires=4750&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20190715%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=72a41a40afdabccd63edfb488b9ac021e451eb47e3eb85b6b81cc7d798fe5cf5 -->