.align_left {
    /* creates a flex display */
    display: flex; 

    vertical-align: auto;

    /* creates columns */
    flex-direction: column;

    /* creates a margin */
    margin-left: 3em;
    
    margin-top:130px;
    
    

}

.align_right {

    display: flex;
    margin-left: auto;
    vertical-align: auto;
    flex-direction: column;
    position: relative;
    top: -24em;
    margin-right: 3em;
    margin-top:130px;
    
}

.btn_align_right {

    display: block;
    margin-left: auto;
    margin-right: 3em;
    
}

.btn_align_left {

    display: block;
    margin-left: 3em;
    margin-right: auto;
    
}

/* .align_right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  } */


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}