.btn_primary_custom {
    font-family: "Quicksand";
	background-color: #992600;
    border-color: #992600;
    color: #cccccc;
    padding: 1em 3em; 
}


.btn_primary_custom:active{
    font-family: "Quicksand";
    background-color: #cc3300;
    color: #cccccc;
}

.btn_primary_custom:hover{
    font-family: "Quicksand";
    background-color: #cc3300;
    color: #cccccc;
}


.get_started_container {
    display: flex;
    justify-content: center;
  }

  