.btn-primary-custom {
    font-family: "Quicksand";
	background-color: #992600;
    border-color: #992600;
    color: #cccccc
}


.btn-primary-custom:active{
    font-family: "Quicksand";
    background-color: #cc3300;
    color: #cccccc;
}

.btn-primary-custom:hover{
    font-family: "Quicksand";
    background-color: #cc3300;
    color: #cccccc;
}

