/* changes color for h1 and h2 tags to color of choice */

h1 a, h2 a {
    color: #003366;
    font-family: "Quicksand";
}


.navbar-custom {
    background-color: #003366;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #cccccc;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #cccccc;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #003366;
}

/* change the link color and padding  */
.navbar-custom .navbar-nav .nav-link {
    color: #cccccc;
    padding: .75rem 1rem;
}

/* change the color and background color of active links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #003366;
    background-color: #cccccc;
}

.navbar a{
    font-family: Quicksand !important;
}