.test-icon{
  color: #003366;
  margin-left: 5px;
  font-size: 90px;
  height: 1px;
  vertical-align: middle;
  padding-top: 6px;
  padding-right: 3px
}
.test-icon:hover{
  color: black;
}
.shopping-icon{
  color: #003366;
  margin-left: 5px;
  font-size: 80px;
  height: 2px;
  vertical-align: middle;
  padding-top: 8px;
  padding-right:  11px
}
.shopping-icon:hover{
  color:black;
}
.film-icon{
  color: #003366;
  margin-left: 2px;
  font-size: 90px;
  height: 1px;
  vertical-align: middle;
  padding-top: 4px;
}
.film-icon:hover{
  color:black;
}
.landmark-icon{
  color: #003366;
  margin-left: 8px;
  font-size: 90px;
  height: 2px;
  vertical-align: middle;
  padding-top: 3px
}
.landmark-icon:hover{
  color:black;
}
.cafe-icon{
  color: #003366;
  margin-left: 1px;
  font-size: 75px;
  height: 2px;
  vertical-align: middle;
  padding-top: 11px
}
.cafe-icon:hover{
  color:black;
}
.food-icon{
  color: #003366;
  margin-left: 10px;
  font-size: 90px;
  height: 2px;
  vertical-align: middle;
  padding-top: 6px;
  padding-right: 7px
}
.food-icon:hover{
  color:black;
}
.loco-icon{
  color: #003366;
  margin-left: 20px;
  font-size: 90px;
  height: 2px;
  vertical-align: middle;
}
.loco-icon:hover{
  color:black;
}
.button {
background-color: #000000;
color: rgb(106, 80, 80);
padding: 10px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
margin:10px
}
.small{
width: 50px;
height: 25px;
}
.medium{
width: 70px;
height: 30px;
}
.big{
width: 100px;
height: 100px;
}
.active{
background-color:#99cfff;
}

.icon-selected {
background-color: #99cfff;
}
.space{
width: 10px
}
.horizontal{
  display: flex;
  flex-direction: row;
}




