head {
    margin-top: 0em;
    margin-bottom: 1em;
    margin-right: 0em;
    margin-left: 0em;
}

body {
    margin-top: 0em;
    margin-bottom: 8em;
    margin-right: 3em;
    margin-left: 3em;
  }